<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ningbo Yinzhou Sajoo Electronic Factory</title>
    <link href="~css/wojilu.common.css?v=#{cssVersion}" rel="stylesheet" type="text/css" />
    <link href="~css/wojilu.cms.css?v=#{cssVersion}" rel="stylesheet" type="text/css" />
    <link href="~css/zTreeStyle.css?v=#{cssVersion}" rel="stylesheet" type="text/css" />
    <script src="~js/jquery.js?v=#{jsVersion}" type="text/javascript"></script>
    <script src="~js/jquery.ztree.core-3.2.js?v=#{jsVersion}" type="text/javascript"></script>
    <script src="~js/wojilu.common.js?v=#{jsVersion}" type="text/javascript"></script>
    <script src="~js/wojilu.common.admin.js?v=#{jsVersion}" type="text/javascript"></script>
</head>
<body>
    <div id="bodyWrap">
        <div id="header">
            <div id="logo">
                <img src="~img/top.jpg" alt="" title="" border="0" /></div>
        </div>
        <div id="menu">
            <table width="50%" border="0" cellspacing="0" cellpadding="0" align="right">
                <tbody>
                    <tr>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">|</font></div>
                        </td>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">
                                    <a href="#{loginLink}">_{siteHome}</a></font></font></font></font></div>
                        </td>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">
                                    |</font></font></font></font></div>
                        </td>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">
                                    <a href="/About.aspx">ABOUT US</a></font></font></font></font></div>
                        </td>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">
                                    |</font></font></font></font></div>
                        </td>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">
                                    <a href="/Product.aspx">PRODUCTS</a></font></font></font></font></div>
                        </td>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">
                                    |</font></font></font></font></div>
                        </td>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">
                                    <a href="/FeedBack.aspx">CONTACT US</a></font></font></font></font></div>
                        </td>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">
                                    |</font></font></font></font></div>
                        </td>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">
                                    <a href="#{adminLink}">E-MAIL</a></font></font></font></font></div>
                        </td>
                        <td height="17">
                            <div align="center">
                                <font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">
                                    |</font></font></font></font></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        #{layout_content}
        <table width="1008" border="0" cellspacing="0" cellpadding="0" bgcolor="#FF9900"  height="2">
  
</table>
        <div id="footer">           
            <div class="foottext">
                <ul>
                    <li><a href="http://www.sajoo.cn/" target="_blank">SAJOO</a> Copyright 2011-2012
                        </li><li>Add:Gongren Village, Gulin Town ,Yin County ,Ningbo, China</li>
                        <li>Tel:+86 574 2886 2146  Email:sajoo@sajoo.cn</li>
                </ul>
                Powered by <a href="http://www.sajoo.cn" target="_blank" title="SAJOO NING BO">
                    <b>SAJOO</b></a> 2.0 ©2007-2013 <a href="http://www.sajoo.cn" target="_blank" title="SAJOO NING BO">www.sajoo.cn</a>
            </div>
        </div>
    </div>
</body>
</html>
