<table width="1008" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr> 
    <td valign="top" bgcolor="#336699"><img src="images/002.jpg" width="190" height="50"/> 
      <br/>
      <br/>
      <table width="100%" border="0" cellspacing="10" cellpadding="0">
       <img src="~img/left.gif" width="190" height="50"/> </table>
    </td>
    <td> <br>
      <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody><tr> 
          <td> 
            <table width="170" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr> 
                <td width="20"><img src="images/003.jpg" width="20" height="20"></td>
                <td width="139" bgcolor="#33CCFF"> 
                  <div align="center"><b><font color="#0033FF" face="Arial, Helvetica, sans-serif" size="3">CONTACT 
                    US </font></b></div>
                </td>
                <td width="11"><img src="images/004.jpg" width="20" height="20"></td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr> 
          <td> 
            <div align="center"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><br>
              </font> 
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <form name="form1" method="post" action="http://inquiry.haibo.com/feedback.php"></form>
                  <tbody><tr> 
                    <td valign="top"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr> 
                          <td valign="top" class="txt-12x"> 
                            <script language="JavaScript" src="http://inquiry.haibo.com/f.js"></script><style type="text/css"><!--.txt-13x {	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";	font-size: 13px;	line-height: 16px;	text-decoration: none;}.input-13x {	font-family: "Arial", "Helvetica", "sans-serif";	font-size: 13px;	text-decoration: none;}.sub-13x-01 {	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";font-size: 13px;font-weight: bold;text-decoration: none;background-color: #CCCCCC;}--></style> 
                            <input name="tomail" type="hidden" id="tomail" value="rleil@rleil.com"> 
                            <input name="company" type="hidden" id="company" value="NINGBO YINXIAN LIHE SWITCH FACTORY"> 
                          </td>
                          <td width="29" align="right" valign="top">&nbsp;</td>
                        </tr>
                      </tbody></table></td>
                  </tr>
                  <tr> 
                    <td align="center"> <div align="center"> 
                        <table width="92%" border="0" cellpadding="4" cellspacing="2">
                          <tbody><tr> 
                            <td width="150" align="right" class="txt-13x"><font color="#FFFFFF"> 
                              * Subject:</font></td>
                            <td> <input name="mail_title" type="text" class="input-13x" value="Inquire about your product" size="45"> 
                            </td>
                          </tr>
                          <tr valign="top"> 
                            <td align="right" valign="top" class="txt-13x"> <font color="#FFFFFF">* 
                              Enquiry Message:</font></td>
                            <td valign="top"> <textarea name="mail_content" cols="45" rows="10" class="input-13x"></textarea></td>
                          </tr>
                          <tr> 
                            <td align="right" class="txt-13x"><font color="#FFFFFF">* 
                              Your Company: </font></td>
                            <td> <input name="sender_com" type="text" class="input-13x" value="" size="40"></td>
                          </tr>
                          <tr> 
                            <td align="right" class="txt-13x"><font color="#FFFFFF">* 
                              Your Name:</font></td>
                            <td> <input name="sender_name" type="text" class="input-13x" value="" size="40"></td>
                          </tr>
                          <tr> 
                            <td align="right" valign="top" class="txt-13x"> <font color="#FFFFFF">* 
                              Your E-mail:</font></td>
                            <td> <font color="#FFFFFF"> 
                              <input name="sender_mail" type="text" class="input-13x" value="" size="40">
                              <br>
                              <span class="txt-13x">(Please make sure your E-mail 
                              address is correct. <br>
                              Else, the receiver cannot reply you afterwards. 
                              )</span></font></td>
                          </tr>
                          <tr> 
                            <td align="right" class="txt-13x"><font color="#FFFFFF">Your 
                              Tel:</font></td>
                            <td> <input name="sender_tel" type="text" class="input-13x" value="" size="40"></td>
                          </tr>
                          <tr> 
                            <td align="right" class="txt-13x"><font color="#FFFFFF">Your 
                              Fax:</font></td>
                            <td> <input name="sender_fax" type="text" class="input-13x" value="" size="40"> 
                            </td>
                          </tr>
                          <tr> 
                            <td align="right" class="txt-13x"><font color="#FFFFFF">Your 
                              Country:</font></td>
                            <td> <input name="textfield" type="text" class="input-13x" value=""></td>
                          </tr>
                          <tr> 
                            <td align="right" class="txt-13x"><font color="#FFFFFF">Address:</font></td>
                            <td> <input name="sender_add" type="text" class="input-13x" value="" size="40"></td>
                          </tr>
                          <tr> 
                            <td align="right" valign="top" class="txt-13x"> <font color="#FFFFFF">* 
                              Business Type:</font></td>
                            <td> <table width="360" border="0" cellpadding="1" cellspacing="0">
                                <tbody><tr class="txt-13x"> 
                                  <td width="40%"> <font color="#FFFFFF"> 
                                    <input name="checkbox" type="checkbox" value="Agent">
                                    Agent</font></td>
                                  <td width="60%"> <font color="#FFFFFF"> 
                                    <input name="checkbox" type="checkbox" id="checkbox" value="Distributor/Wholesaler">
                                    Distributor/Wholesaler</font></td>
                                </tr>
                                <tr class="txt-13x"> 
                                  <td> <font color="#FFFFFF"> 
                                    <input name="checkbox" type="checkbox" id="checkbox" value="Exporter">
                                    Exporter</font></td>
                                  <td> <font color="#FFFFFF"> 
                                    <input name="checkbox" type="checkbox" id="checkbox" value="Importer">
                                    Importer</font></td>
                                </tr>
                                <tr class="txt-13x"> 
                                  <td> <font color="#FFFFFF"> 
                                    <input name="checkbox" type="checkbox" id="checkbox" value="Manufacturer">
                                    Manufacturer</font></td>
                                  <td> <font color="#FFFFFF"> 
                                    <input name="checkbox" type="checkbox" id="checkbox" value="Retailer">
                                    Retailer</font></td>
                                </tr>
                                <tr class="txt-13x"> 
                                  <td colspan="2"> <font color="#FFFFFF"> 
                                    <input name="checkbox" type="checkbox" id="checkbox" value="Others">
                                    Others 
                                    <input name="textfield2" type="text" class="input-13x" size="15">
                                    </font></td>
                                </tr>
                              </tbody></table></td>
                          </tr>
                          <tr> 
                            <td align="center">&nbsp;</td>
                            <td> <br> <table width="200" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr> 
                                  <td width="74"> <input name="send" type="submit" class="sub-13x-01" onclick="return check(form1)" value="Send"> 
                                  </td>
                                  <td>&nbsp; </td>
                                </tr>
                              </tbody></table></td>
                          </tr>
                        </tbody></table>
                      </div></td>
                  </tr>
                  <tr> 
                    <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr> 
                          <td width="29">&nbsp;</td>
                          <td align="right">&nbsp;</td>
                          <td width="29" align="right">&nbsp;</td>
                        </tr>
                      </tbody></table></td>
                  </tr>
                
              </tbody></table>
              <font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"> 
              </font></div>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>