<table width="1008" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top" bgcolor="#336699">
                <img src="~img/flag.jpg" width="190" height="50" />
                <br />
                <br />
                <p style="color: White;">
                    <strong>Ningbo Yinzhou Sajoo Electronic Factory</strong><br>
                    <strong>Code</strong>：315177<br>
                    <strong>Add</strong>：Gongren Village, Gulin Town ,Yin County ,Ningbo, China
                    <br />
                    <strong>Tel</strong>：+86 574 2886 2146<br />
                    <strong>Fax</strong>：+86 574 8664 4005<br />
                    <strong>Mobile</strong>：+ 86 13777149903<br />
                    <strong>Email</strong>：sajoo@sajoo.cn<br />
                    <strong>Web</strong>：www.sajoo.cn</p>
            </td>
            <td>
                <br />
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="feedback">
                                    <form enctype="multipart/form-data" method="POST" name="myform" action="/Contact"
                                    target="_self">
                                    <table cellpadding="2" cellspacing="1" bgcolor="#336699" align="center" class="feedback_table">
                                        <tbody>
                                            <tr class="feedback_tr" height="25">
                                                <td class="feedback_td1" align="right" width="25%">
                                                    Subject&nbsp;
                                                </td>
                                                <td class="feedback_input" width="70%">
                                                    <select name="para29">
                                                        <option value="Access to information">Access to information</option>
                                                        <option value="Product purchases">Product purchases</option>
                                                        <option value="Business cooperation">Business cooperation</option>
                                                        <option value="Other feedback">Other feedback</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr class="feedback_tr" height="25">
                                                <td class="feedback_td1" align="right" width="20%">
                                                    * Name&nbsp;
                                                </td>
                                                <td class="feedback_input" width="70%">
                                                    <input name="para30" type="text" size="30">
                                                </td>
                                            </tr>
                                            <tr class="feedback_tr" height="25">
                                                <td class="feedback_td1" align="right" width="20%">
                                                    Duties&nbsp;
                                                </td>
                                                <td class="feedback_input" width="70%">
                                                    <input name="para31" type="text" size="30">
                                                </td>
                                            </tr>
                                            <tr class="feedback_tr" height="25">
                                                <td class="feedback_td1" align="right" width="20%">
                                                    * Email&nbsp;
                                                </td>
                                                <td class="feedback_input" width="70%">
                                                    <input name="Title" type="text" size="30" class="tipInput" tip="Please make sure your E-mail address is correct."><span
                                                        class="valid" msg="Please enter email address" rule="email"></span>
                                                </td>
                                            </tr>
                                            <tr class="feedback_tr" height="25">
                                                <td class="feedback_td1" align="right" width="20%">
                                                    Phone&nbsp;
                                                </td>
                                                <td class="feedback_input" width="70%">
                                                    <input name="para33" type="text" size="30" class="input-text">
                                                </td>
                                            </tr>
                                            <tr class="feedback_tr" height="25">
                                                <td class="feedback_td1" align="right" width="20%">
                                                    Company Name&nbsp;
                                                </td>
                                                <td class="feedback_input" width="70%">
                                                    <input name="para34" type="text" size="30" class="input-text">
                                                </td>
                                            </tr>
                                            <tr class="feedback_tr" height="25">
                                                <td class="feedback_td1" align="right" width="20%">
                                                    Address&nbsp;
                                                </td>
                                                <td class="feedback_input" width="70%">
                                                    <input name="para36" type="text" size="30" class="input-text">
                                                </td>
                                            </tr>
                                            <tr class="feedback_tr" height="25">
                                                <td class="feedback_td1" align="right" width="20%">
                                                    Enquiry Message&nbsp;
                                                </td>
                                                <td class="feedback_input" width="70%">
                                                    <textarea name="para37" class="textarea-text" cols="50" rows="8"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="feedback_submit" align="center">
                                                    <input type="submit" name="Submit" value="Submit" class="tj">
                                                    <input type="reset" name="Submit" value="Reset" class="tj">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
