<table width="1008" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="2" valign="top" bgcolor="#336699">
                <img src="~img/flag.jpg" height="50"/>
                <br/>
                <table width="90%" border="0" cellspacing="2" cellpadding="0" align="left">
                    <tbody>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <table width="150" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="10">
                                                <img src="~img/003.jpg" width="20" height="24">
                                            </td>
                                            <td width="119" bgcolor="#33CCFF">
                                                <div align="center">
                                                    <b><font color="#0033FF" face="Arial, Helvetica, sans-serif" size="3">PRODUCTS</font></b></div>
                                            </td>
                                            <td width="21">
                                                <img src="~img/004.jpg" width="20" height="24">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td valign="top">
                                <img src="~img/p1.jpg" width="480" height="1070" border="0" usemap="#Map1">
                            </td>
                            <td width="20" valign="top">
                                &nbsp;
                            </td>
                            <td valign="top">
                                <div align="center">
                                    <img src="~img/p2.jpg" width="480" height="1211" border="0" usemap="#Map2"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <div align="left">
                                </div>
                                <div align="left">
                                    <br>
                                </div>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </td>
        </tr>
    </tbody>
</table>
<table width="1008" border="0" cellspacing="0" cellpadding="0" bgcolor="#FF9900"
    height="2">
    <tbody>
        <tr>
            <td>
            </td>
        </tr>
    </tbody>
</table>
<map name="Map1">
    <area shape="rect" coords="69,35,266,75" href="./Product/1">
    <area shape="rect" coords="69,77,403,114" href="rl13.htm">
    <area shape="rect" coords="70,116,401,155" href="rl13w.htm">
    <area shape="rect" coords="68,156,269,196" href="rl15.htm">
    <area shape="rect" coords="69,199,203,237" href="rl15w.htm">
    <area shape="rect" coords="69,237,269,277" href="rl15(y).htm">
    <area shape="rect" coords="69,279,269,318" href="rl18.htm">
    <area shape="rect" coords="69,319,201,357" href="rl18(w).htm">
    <area shape="rect" coords="69,360,403,398" href="rl21.htm">
    <area shape="rect" coords="68,399,402,439" href="rl23.htm">
    <area shape="rect" coords="69,442,202,480" href="rl2.htm">
    <area shape="rect" coords="70,523,402,563" href="rl24.htm">
    <area shape="rect" coords="72,565,336,600" href="rl25.htm">
    <area shape="rect" coords="70,601,468,643" href="rl31.htm">
    <area shape="rect" coords="70,645,333,685" href="rl32.htm">
    <area shape="rect" coords="69,687,332,725" href="rl32_1.htm">
    <area shape="rect" coords="69,726,267,763" href="rl33.htm">
    <area shape="rect" coords="70,767,268,805" href="rl34.htm">
    <area shape="rect" coords="70,807,266,845" href="rl34_2.htm">
    <area shape="rect" coords="70,848,334,886" href="rl34_r.htm">
    <area shape="rect" coords="71,889,337,927" href="rl35.htm">
    <area shape="rect" coords="69,930,334,969" href="rl35-x.htm">
    <area shape="rect" coords="70,972,268,1005" href="rl36.htm">
    <area shape="rect" coords="101,1098,306,1136" href="rl37.htm">
    <area shape="rect" coords="69,482,202,520" href="rl2-t.htm">
    <area shape="rect" coords="71,1011,268,1048" href="rl37.htm">
</map>
<map name="Map2">
    <area shape="rect" coords="87,84,307,124" href="rl310.htm">
    <area shape="rect" coords="88,37,235,79" href="rl38.htm">
    <area shape="rect" coords="88,128,313,172" href="rl310(s).htm">
    <area shape="rect" coords="88,216,315,260" href="slide-31.htm">
    <area shape="rect" coords="88,304,466,347" href="push.htm">
    <area shape="rect" coords="88,351,237,394" href="rl5-2.htm">
    <area shape="rect" coords="89,400,156,437" href="rl5-3.htm">
    <area shape="rect" coords="87,444,314,488" href="rl5-4.htm">
    <area shape="rect" coords="87,491,389,535" href="rl5-6.htm">
    <area shape="rect" coords="88,538,237,582" href="rl-kan-l5.htm">
    <area shape="rect" coords="89,626,390,671" href="micro.htm">
    <area shape="rect" coords="88,673,394,714" href="rl6-2.htm">
    <area shape="rect" coords="87,981,236,1024" href="rl10.htm">
    <area shape="rect" coords="88,760,157,801" href="rotary.htm">
    <area shape="rect" coords="87,846,314,890" href="rocker-.htm">
    <area shape="rect" coords="88,893,314,938" href="rl8-2.htm">
    <area shape="rect" coords="87,1070,392,1111" href="ac_plugs.htm">
    <area shape="rect" coords="89,1160,390,1199" href="pcb_assembly.htm">
</map>
<!--    
    <table id="promotion" cellpadding="0" cellspacing="0">
    
        <tr>
            <td style="width:240px;"><img src="~img/site/product.jpg" /></td>
            <td style="width:300px;padding:30px 0px 0px 5px;color:#fff; ">
                <h1 style="font-size:18px; font-weight:bold; font-family:微软雅黑">“我记录网站综合系统”开源下载</h1>
                <p>“我记录网站系统”，是一款集成了CMS、论坛、SNS、博客、相册等功能的互联网产品。</p>
                <p>【特点】功能强大、开源、多语言支持、很高的灵活性，并带有丰富的二次开发教程和示例代码。</p>
                <p class="introText">“我记录网站系统”<br />——为互联网创业提供一站式解决方案！</p>
            </td>
            <td style="padding-left:20px;">
                <div class="pItme">
                    <img src="~img/site/item3.png" />
                    <div><a href="http://www.wojilu.com" target="_blank">“我记录网站综合系统”</a><br />包括源码、二次开发教程和示例</div>
                </div>
                
                <div class="pItme">
                    <img src="~img/site/item1.png" />
                    <div><a href="http://www.wojilu.com" target="_blank">wojilu framework</a><br />包括源码、图文教程、示例代码</div>
                </div>          
                
                <div class="pItme">
                    <img src="~img/site/item2.png" />
                    <div><a href="http://www.wojilu.com" target="_blank">论坛讨论区</a><br />欢迎您提出问题、分享心得</div>
                </div>  
            </td>
        
        </tr>

    </table>
    
    <div style="margin:15px; line-height:150%;">
        <div class="ptitle">产品1：“我记录网站系统”<a <a href="http://www.wojilu.com" target="_blank" class="left10 font12">详情...</a></div>
        <div class="pbody">【功能】集成了CMS、论坛、SNS、博客、相册等功能，为互联网创业提供一站式解决方案。<br />
        【特点】功能强大、开源、多语言支持，并带有丰富的二次开发教程和示例代码，有很高的灵活性。<br />        
        【应用环境】windows/.net 2.0或更高版本；数据库：SqlServer或Mysql或Access<br /> 
        【授权协议】非商业性使用永久免费。
        </div>
        <div class="ptitle">产品2：开发框架(wojilu framework)<a href="http://www.wojilu.com" target="_blank" class="left10 font12">详情...</a></div>
        <div class="pbody">
        【功能】包括ORM/mvc/IOC/log/ajax/编辑器/模板引擎等，是.net领域少见的全栈式开发框架。另有完整的图文并茂教程，以及丰富的示例。<br />
        【特点】开发速度快、代码清晰、实战性强。“我记录网站系统” 即使用本框架开发。<br /> 
        【授权协议】永久性采用 Apache License，可免费用于商业环境。
        </div>
    </div>
    
    <table id="homeContent">
        <tr>
            <td id="homeLeft">
                <div class="mtitle">最近更新</div>
                <ul>
                    <!-- BEGIN recent -->
<li><a href="#{a.ShowLink}">#{a.Title}</a></li><!-- END recent -->
</ul> </td>
<td id="homeRight">
    <div class="mtitle">
        联系方式</div>
    <table>
        <tr>
            <td>
                <img src="~img/site/tel.jpg" />
            </td>
            <td style="padding-left: 10px;">
                <ul>
                    <li><span class="red">联系人:</span> #{cfg.Contact}</li>
                    <li><span class="red">电话:</span> #{cfg.Tel}</li>
                    <li><span class="red">Email:</span> #{cfg.Email}</li>
                    <li><span class="red">地址:</span> #{cfg.Address}</li>
                </ul>
            </td>
        </tr>
    </table>
</td>
</tr> </table> --> 