<table width="1008" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="2" valign="top" bgcolor="#336699">
                <img src="~img/flag.jpg" height="50"/>
                <br/>
                <table width="90%" border="0" cellspacing="2" cellpadding="0" align="left">
                    <tbody>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <table width="300" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="10">
                                                <img src="~img/003.jpg" width="20" height="24"/>
                                            </td>
                                            <td width="119" bgcolor="#33CCFF">
                                                <div align="center">
                                                    <a href="/Product.aspx"><b><font color="#0033FF" face="Arial, Helvetica, sans-serif" size="3">PRODUCTS</font></b></a></div>
                                            </td>
                                            <td width="21">
                                                <img src="~img/004.jpg" width="20" height="24"/>
                                            </td>
                                             <td width="10">
                                                <img src="~img/003.jpg" width="20" height="24"/>
                                            </td>
                                            <td width="119" bgcolor="#33CCFF">
                                                <div align="center">
                                                    <b><a href="/FeedBack.aspx"><font color="#0033FF" face="Arial, Helvetica, sans-serif" size="3">New</font></a></b></div>
                                            </td>
                                            <td width="21">
                                                <img src="~img/004.jpg" width="20" height="24"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td valign="top">
                                <img src="~img/p1.jpg" width="480" height="1070" border="0" usemap="#Map1">
                            </td>
                            <td width="20" valign="top">
                                &nbsp;
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <div align="left">
                                </div>
                                <div align="left">
                                    <br>
                                </div>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </td>
        </tr>
    </tbody>
</table>

<map name="Map1">
    <area shape="rect" coords="69,35,266,75" href="./Product/4.aspx">
    <area shape="rect" coords="69,77,403,114" href="./Product/1.aspx">
    <area shape="rect" coords="70,116,401,155" href="./Product/1.aspx">
    <area shape="rect" coords="68,156,269,196" href="./Product/1.aspx">
    <area shape="rect" coords="69,199,203,237" href="./Product/1.aspx">
    <area shape="rect" coords="69,237,269,277" href="./Product/1.aspx">
    <area shape="rect" coords="69,279,269,318" href="./Product/1.aspx">
    <area shape="rect" coords="69,319,201,357" href="./Product/1.aspx">
    <area shape="rect" coords="69,360,403,398" href="./Product/1.aspx">
    <area shape="rect" coords="68,399,402,439" href="rl23.htm">
    <area shape="rect" coords="69,442,202,480" href="rl2.htm">
    <area shape="rect" coords="70,523,402,563" href="rl24.htm">
    <area shape="rect" coords="72,565,336,600" href="rl25.htm">
    <area shape="rect" coords="70,601,468,643" href="rl31.htm">
    <area shape="rect" coords="70,645,333,685" href="rl32.htm">
    <area shape="rect" coords="69,687,332,725" href="rl32_1.htm">
    <area shape="rect" coords="69,726,267,763" href="rl33.htm">
    <area shape="rect" coords="70,767,268,805" href="rl34.htm">
    <area shape="rect" coords="70,807,266,845" href="rl34_2.htm">
    <area shape="rect" coords="70,848,334,886" href="rl34_r.htm">
    <area shape="rect" coords="71,889,337,927" href="rl35.htm">
    <area shape="rect" coords="69,930,334,969" href="rl35-x.htm">
    <area shape="rect" coords="70,972,268,1005" href="rl36.htm">
    <area shape="rect" coords="101,1098,306,1136" href="rl37.htm">
    <area shape="rect" coords="69,482,202,520" href="rl2-t.htm">
    <area shape="rect" coords="71,1011,268,1048" href="rl37.htm">
</map>
