<!--<table width="1008" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr> 
    <td valign="top" bgcolor="#336699" width="197"><img src="~img/002.jpg" width="190" height="50"> 
      <br>
      <table width="100%" border="0" cellspacing="10" cellpadding="0">
        <tbody><tr>
          <td><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif" color="#33CCFF"><b>RLEIL 
            ROCKER SWITCH</b></font></font></font></font></td>
        </tr>
        <tr>
          <td><table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
              <tbody><tr>
                <td><font color="#CCFFFF" size="2" face="Arial, Helvetica, sans-serif">RL1 
                  Series</font></td>
              </tr>
              <tr>
                <td><table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tbody><tr>
                      <td><div align="center"><font color="#FFFFFF"><font size="2"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font color="#FFFFFF"><font size="2"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><b><font color="#33CCFF">RL1-1</font></b></font></font></font></font></font></font><font color="#33CCFF"><a href="rocker.htm"></a></font></font></font></font></font></font></font></div></td>
                    </tr>
                    <tr>
                      <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl13.htm">RL1-3</a></font></font></font></font></div></td>
                    </tr>
                    <tr>
                      <td align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><font color="#33CCFF"><a href="rl13w.htm">RL1-3(W)</a></font></font></font></font></font></td>
                    </tr>
                    <tr>
                      <td align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl15.htm">RL1-5</a></font></font></font></font></td>
                    </tr>
                    <tr>
                      <td><div align="center"><font color="#FFFFFF"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl15w.htm">RL1-5(W)/(X)</a></font></font></font></font></font></div></td>
                    </tr>
                    <tr>
                      <td align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl15(y).htm">RL1-5(Y)</a></font></font></font></font></td>
                    </tr>
                    <tr>
                      <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl18.htm">RL1-8</a></font></font></font></font></div></td>
                    </tr>
                    <tr>
                      <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl18(w).htm">RL1-8(W)</a></font></font></font></font></div></td>
                    </tr>
                </tbody></table></td>
              </tr>
            </tbody></table>
              <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tbody><tr>
                  <td><font color="#CCFFFF" size="2" face="Arial, Helvetica, sans-serif">RL2 
                    Series</font></td>
                </tr>
                <tr>
                  <td><table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tbody><tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl21.htm">RL2-1(RL2F)</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl23.htm">RL2-3(RL2)</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl2.htm">RL2(P)</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl2-t.htm">RL2(T)</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl24.htm">RL2-4(RL2-5F)</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl25.htm">RL2-5</a></font></font></font></font></div></td>
                      </tr>
                  </tbody></table></td>
                </tr>
              </tbody></table>
            <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tbody><tr>
                  <td><font color="#CCFFFF" size="2" face="Arial, Helvetica, sans-serif">RL3 
                    Series</font></td>
                </tr>
                <tr>
                  <td><table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tbody><tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl31.htm">RL3-1</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl32.htm">RL3-2</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl32_1.htm">RL3-2(D)</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl33.htm">RL3-3</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl34.htm">RL3-4</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl34_2.htm">RL3-4(S)</a></font></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td height="19"><div align="center"><font color="#FFFFFF"><font size="2"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl34_r.htm">RL3-4(R)</a></font></font></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td><div align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl35.htm">RL3-5</a></font></font></font></font></div></td>
                      </tr>
                      <tr>
                        <td align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl35-x.htm">RL3-5(X)</a></font></font></font></font></td>
                      </tr>
                      <tr>
                        <td align="center"><font color="#FFFFFF"><font size="2"><font color="#FFFFFF"><font size="2"><font color="#FFFFFF"><font size="2"><font size="2"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl36.htm">RL3-6</a></font></font></font></font></font></font></font></font></font></font></font></td>
                      </tr>
                      <tr>
                        <td align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl37.htm">RL3-7</a></font></font></font></font></td>
                      </tr>
                      <tr>
                        <td align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl38.htm">RL3-8</a></font></font></font></font></td>
                      </tr>
                      <tr>
                        <td align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl310.htm">RL3-10</a></font></font></font></font></td>
                      </tr>
                      <tr>
                        <td align="center"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl310(s).htm">RL3-10(S)</a></font></font></font></font></td>
                      </tr>
                  </tbody></table></td>
                </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="slide-31.htm">RLEIL 
            SLIDE SWITCH</a></font></font></font></font></td>
        </tr>
        <tr>
          <td><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="push.htm">RLEIL 
            PUSH SWITCH</a></font></font></font></font></td>
        </tr>
        <tr>
          <td><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="micro.htm">RLEIL 
            MICRO SWITCH</a></font></font></font></font></td>
        </tr>
        <tr>
          <td><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rotary.htm">RLEIL 
            ROTARY SWITCH</a></font></font></font></font></td>
        </tr>
        <tr>
          <td><font color="#FFFFFF"><font size="2"><font size="2"><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rocker-.htm">RLEIL 
            ROCKER SWITCH</a></font></font></font></font></font></font></font></td>
        </tr>
        <tr>
          <td><font color="#FFFFFF"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="rl10.htm">IEC FUSED INLED COMBINATION OF SWITCH</a></font></font></font></td>
        </tr>
        <tr>
          <td><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="ac_plugs.htm">AC PLUGS</a></font></font></font></font></td>
        </tr>
        <tr>
          <td><font color="#FFFFFF"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="pcb_assembly.htm">PCB ASSEMBLY PRODUCT</a> </font></font></font></font></td>
        </tr>
      </tbody></table></td>
    <td valign="top"> <br>
      <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody><tr> 
          <td> 
            <table width="150" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr> 
                <td width="10"><img src="~img/003.jpg" width="20" height="20"></td>
                <td width="119" bgcolor="#33CCFF"> 
                  <div align="center"><b><font color="#0033FF" face="Arial, Helvetica, sans-serif" size="3">PRODUCTS</font></b></div>
                </td>
                <td width="21"><img src="~img/004.jpg" width="20" height="20"></td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr> 
          <td> 
            <table width="90%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr> 
                <td><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"><a href="index.html">HOMEPAGE</a></font><font color="#FFFFFF"><font face="Arial, Helvetica, sans-serif" color="#33CCFF"><font color="#FFFFFF"> 
                  &gt;&gt; <a href="products.htm">PRODUCTS</a> &gt;&gt; RLEIL 
                  ROCKER SWITCH &gt;&gt; RL1 SERIES</font></font></font></font></font></td>
              </tr>
            </tbody></table>
            <br>
          </td>
        </tr>
        <tr> 
          <td><img src="pro-2011-06/1.jpg" width="750" height="1000"> </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>-->

<table border="0" align="left">
	<TR>
		<TD width=180px align=left valign=top style="BORDER-RIGHT: #999999 1px dashed">
			<ul id="tree" class="ztree" style="width:240px; overflow:auto;"></ul>
		</TD>
		  <td><img id="productimage" src="~img/4.jpg" width="750" height="1000"/> </td>
	</TR>
</table>

<script type="text/javascript" >
  <!--
    var setting = {
        view: {
                showIcon:false,
				fontCss: getFont,
				nameIsHTML: true
			},
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            beforeClick: beforeClick,
            onClick: onClick
        }

    };

    var zNodes = [
			{ id: 1, pId: 0, name: "SAJOO ROCKER SWITCH", font: { 'color': '#3CC5F1' }, open: true },
			{ id: 11, pId: 1, name: "SJ1 SERIES", font: { 'color': '#3CC5F1' }, open: true },
			{ id: 111, pId: 11, name: "SJ1-1", font: { 'color': 'white' }, src: "/static/img/zhn 2.jpg" },
			{ id: 112, pId: 11, name: "SJ1-3", font: { 'color': 'white' }, src: "/static/img/p2.jpg" },
			{ id: 113, pId: 11, name: "SJ1-3(W)", font: { 'color': 'white' }, src: "/static/img/zhn 1.jpg" },
			{ id: 114, pId: 11, name: "SJ1-5", font: { 'color': 'white' }, src: "/static/img/003.jpg" },
            { id: 114, pId: 11, name: "SJ1-5(W)/(X)", font: { 'color': 'white' }, src: "/static/img/003.jpg" },
			{ id: 12, pId: 1, name: "父节点12 - 折叠" },
			{ id: 121, pId: 12, name: "叶子节点121" },
			{ id: 122, pId: 12, name: "叶子节点122" },
			{ id: 123, pId: 12, name: "叶子节点123" },
			{ id: 124, pId: 12, name: "叶子节点124" },
			{ id: 13, pId: 1, name: "父节点13 - 没有子节点", isParent: true },
			{ id: 2, pId: 0, name: "父节点2 - 折叠" },
			{ id: 21, pId: 2, name: "父节点21 - 展开", open: true },
			{ id: 211, pId: 21, name: "叶子节点211" },
			{ id: 212, pId: 21, name: "叶子节点212" },
			{ id: 213, pId: 21, name: "叶子节点213" },
			{ id: 214, pId: 21, name: "叶子节点214" },
			{ id: 22, pId: 2, name: "父节点22 - 折叠" },
			{ id: 221, pId: 22, name: "叶子节点221" },
			{ id: 222, pId: 22, name: "叶子节点222" },
			{ id: 223, pId: 22, name: "叶子节点223" },
			{ id: 224, pId: 22, name: "叶子节点224" },
			{ id: 23, pId: 2, name: "父节点23 - 折叠" },
			{ id: 231, pId: 23, name: "叶子节点231" },
			{ id: 232, pId: 23, name: "叶子节点232" },
			{ id: 233, pId: 23, name: "叶子节点233" },
			{ id: 234, pId: 23, name: "叶子节点234" },
			{ id: 3, pId: 0, name: "父节点3 - 没有子节点", isParent: true }
		];

    function getFont(treeId, treeNode) {
        return treeNode.font ? treeNode.font : {};
    }

    function beforeClick(treeId, treeNode, clickFlag) {     
        return (treeNode.click != false);
    }
    function onClick(event, treeId, treeNode, clickFlag) {
        var src = treeNode.src ? treeNode.src : "";

        $('#productimage').attr("src", src);
    }	

    $(document).ready(function () {
        $.fn.zTree.init($("#tree"), setting, zNodes);
    });

  //-->
  </script>
